* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0e9e4 !important;  /* 밝은 베이지 */
}


.find-id-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 446px;
    /* Adjust the width as needed */
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.find-id-form h1 {
    font-size: 35px;
    /* color: #fff; */
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.find-id-form h3 {
    font-size: 35px;
    /* color: #fff; */
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.int-area {
    width: 400px;
    position: relative;
}

.int-area login {
    text-decoration: none;
}

.int-area :first-child {
    margin-top: 0px;
}

.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #000000;
    outline: none;
}

.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: #999;
    transition: all .5s ease;
}

.int-area label.warning {
    color: red !important;
    animation: warning .2s ease;
    animation-iteration-count: 2;
}

@keyframes warning {
    0% {
        transform: translateX(-5px);
    }

    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }
}

.int-area input:focus+label,
.int-area input:valid+label {
    top: -2px;
    font-size: 13px;
    color: #166cea;
}

.btn-area {
    margin-top: 30px;

}

.btn-area button {
    width: 100%;
    height: 50px;
    color: #DCE682;
    background: #322A31;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn-area button:hover {
    color: #e5ff00;
    background: #000000;
    transition: 0.5s;
}

.caption {
    margin-top: 20px;
    text-align: center;
}


.caption a {
    font-size: 50px;
    color: #999;
    text-decoration: none;
    margin: 10px;
}

.caption a:hover {
    color: #DCE682;
    transition: 0.3s;
}

.caption-top {
    margin-bottom: 20px;
    text-align: center;
}


.caption-top a {
    font-size: 15ox;
    color: #999;
    text-decoration: none;
    margin: 10px;

}

.caption-top a:hover {
    color: #DCE682;
    transition: 0.3s;
}

.int-area {
    /* display: flex; */
    align-items: center;
}

.id-check {
    display: flex;
    align-items: center;
}


.int-area input[type="text"] {
    flex: 1;
    /* Input element takes up remaining space */
    /* margin-right: 10px; */
    /* Add some spacing between input and button */
}

.int-area input[type="button"] {
    width: auto;
    display: flex;
    /* Adjust button width as needed */
}