body{
    background-color: #f0e9e4 !important;  /* 밝은 베이지 */
}

.container {
    margin-top: 80px;
    margin-left: 20px;
    /* 또는 padding-top: 20px; */

}

.col-sm-3 {
    flex: 0 0 auto;
    width: 98%;
}

#roomTable{
    color : #fff;
}

a {
    text-decoration: none;
      color: #FFEBBC; 
}

a:hover { color: #FF9F29; }



h1{
    color: #fff  ;
}

.panel {
    background: linear-gradient(to right, #866770  , #5E4949);
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05);
}

.panel .panel-heading {
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.panel .panel-heading .title {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}

.panel .panel-heading .btn {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.panel .panel-heading .btn:hover {
    color: #fff;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
}

.panel .panel-heading .form-control {
    color: #fff;
    background-color: transparent;
    width: 35%;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.panel .panel-heading .form-control:focus {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    outline: none;
}

.panel .panel-heading .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.panel .panel-body {
    padding: 0;
}

.panel .panel-body .table thead tr th {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}

.panel .panel-body .table tbody tr td {
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}

.panel .panel-body .table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.panel .panel-body .table tbody .action-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.panel .panel-body .table tbody .action-list li {
    display: inline-block;
    margin: 0 5px;
}

.panel .panel-body .table tbody .action-list li a {
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:hover {
    text-shadow: 3px 3px 0 #E6E6FA;
}

.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after {
    display: block;
}

